*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    -o-box-sizing: border-box; 

}

body {
    text-align: center;
}

.header {
    width: 100%;
    &__caption_box {
        background-color: #160d76;
        color: white;
        padding: 1rem 0;
    }
    &__description_box {

        &__p {
            border-bottom: 0.2rem black solid;
            padding: 0.5rem 0;
        }
    }
}

.main {
    &__image_box {
        background-image: url("./Images/Background.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__caption {
        color: yellow;
        font-size: 3rem;
        width: 60%
        }

        &__page {
            &__description {
                width: 5rem;
                padding: 0.5rem;
                background-color: #454545;
                color: white;
            }
        }
    }
    &__news_box {
        display: flex;
        align-items: flex-end;
        &__div {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 25%;
            background-color: #fe0000;
            color: white;
            padding: 2rem 2rem 0rem 2rem;

            &__description {
                padding-bottom: 2rem;
                width: 80%;
            }

            &__page {
                align-self: flex-end;
                text-align: center;
                width: 3rem;
                background-color: #454545;
                padding: 0.5rem;

            }
        }


    }
}